name: Build Flutter APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.6' # <-- إصدار مستقر ومضمون
          channel: 'stable'

      - name: Get dependencies
        run: flutter pub get
        working-directory: ./makzon

      - name: Build APK
        run: flutter build apk --release
        working-directory: ./makzon

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: makzon/build/app/outputs/flutter-apk/app-release.apk
